.main__text {
  text-align: center;
  margin-top: 300px;
  font-size: 52px;
  font-weight: 900;
}
@media (max-width: 1110px) {
  .main__text {
    margin-top: 100px;
  }
}
@media (max-width: 370px) {
  .main__text {
    font-size: 22px;
  }
}
